{
    "presets": [
        "env"
    ],
    
    "plugins": [
        "babel-plugin-add-module-exports"
    ],
    "env": {
        "test": {
            "plugins": [
                [
                    "istanbul"
                ]
            ]
        }
    },
    "sourceRoot": "./src",
    "ignore": [
        "**/index.js"
    ]
}